.child{
   width: 100%;
    height: 30%;
    background-color:grey
    ; 
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    
}

 .labels{
    
    margin: 50px;
 }
 .para{
     margin: left;
     margin:10px;
 }
 .C{
     color:lightcyan;
     font-size:20px;
 }
 .inp{
     color:grey;
    font-size:15px;
 }